<p>Posts from <%= link_to @feed.title, @feed.link %>...</p>

<% if @posts.size == 0  -%>
<p>No posts to show....</p>
<% else %>
  <%= render :partial => "posts/post", :collection => @posts %>
<% end -%>