<div class="form">
  <% form_for :search, :url => search_admin_feeds_path do |search| %>
  <h3>Search For A Feed</h3>
  <div class="form_container">
    <dl>
      <dt>Title:</dt>
      <dd><%= search.text_field :title %></dd>
      <dt>Author:</dt>
      <dd><%= search.text_field :author %></dd>
    </dl>
    <div class="operations">
      <%= submit_tag "Search For Feed" %> or <%= link_to_function "Cancel", "new Effect.BlindUp('search')" %>
    </div>
  </div>
  <% end %>
</div>