<% @page_heading = "Editing feed - #{@feed.title}" %>
<% content_for('tasks') do %>
  <li><%= link_to "Cancel and Go Back", :action=>"index" %>
<% end %>

<div class="form">
  <div class="form_container">
  <% form_for @feed, :url => admin_feed_path(@feed) do |feed| %>
    <%= render :partial => 'form', :locals => {:feed => feed} %>
    <div class="operations">
      <input type="submit" value="Save"/>
    </div>
  <% end %>
  </div>
</div>
