<ul id="nav">
  <li><a href="http://www.rubyonrails.com/">About</a></li>
  <li><a href="http://documentation.rubyonrails.com/">Documentation</a></li>
  <li><a href="http://wiki.rubyonrails.com/rails">Community</a></li>
  <li><a href="http://dev.rubyonrails.com/">Source</a></li>
</ul>