<% if !@search.to_s.blank? -%>
  <h3>Searched for <em>"<%=h @search %>"</em></h3>
  <ul>
  <% for article in @posts.to_a -%>
    <li style="font-size: 10px;"><%= link_to truncate(article.title, 32), article.url %></li>
  <% end -%>
        </ul>
  <div id="live_search_all" style="text-align: right;">
  <%= link_to "View All", :controller=>"show", :action=>"search", :q=>@search %>
  </div>
<% else %>
  &nbsp;
<% end -%>