<p>Posts from <%= link_to @feed.title, @feed.link %>...</p>

<% if @posts.empty?  -%>
<p>No posts to show....</p>
<% else %>
  <%= render :partial=>"post", :collection=>@posts %>
<% end -%>

<%= prev_page(@pages) if @pages.current.previous %>
<%= next_page(@pages) if @pages.current.next %>
