<dl>
  <dt><label for="feed_author">Email:</label></dt>
  <dd><%= user.text_field :email %></dd>
  <dt><label for="feed_url">Password:</label></dt>
  <dd><%= user.password_field :password %></dd>
  <dt><label for="feed_blog_url">Confirm Password:</label></dt>
  <dd><%= user.password_field :password_confirmation %></dd>
</dl>