<div class="user">
  <p>
  <%= user.email %><br/>
  </p>
  <p><%= link_to 'Edit', edit_admin_user_path(user) %><strong> |</strong> <%= link_to 'Delete', admin_user_path(user), :method => :delete, :confirm=>"Are you sure?" %></p>
</div>