<% @page_heading = "Creating a new user" %>
<% content_for('tasks') do %>
  <li><%= link_to "Cancel and Go Back", :action=>"index" %>
<% end %>

<div class="form">
  <div class="form_container">
  <% form_for :user,  :url => admin_users_path do |user| %>
    <%= render :partial => 'form', :locals => {:user => user} %>
    <div class="operations">
      <input type="submit" value="Add User"/>
    </div>
    <% end %>
  </div>
</div>
