<% @page_heading = "Editing user - #{@user.email}" %>
<% content_for('tasks') do %>
  <li><%= link_to "Cancel and Go Back", :action=>"index" %>
<% end %>

<div class="form">
  <div class="form_container">
<%  form_for @user, :url => admin_user_path(@user) do |user| %>
  <%= render :partial => 'form', :locals => {:user => user} %>
<div class="operations">
<input type="submit" value="Save"/>
</div>
  <% end %>
  </div>
</div>